.good{
    color: #00d652;
}

.bad{
    color: #a6000b;
}

.key{
    font-weight: bolder;
}

ul{
    list-style: none;
}

.App{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.OrderContainer{
    width: 90%;
    margin: 0 auto;
}



.OrderCard{
    width: 100%;
    margin-top: 3em;
    margin-right: 1em;
    height: auto;
    color: #2d2d2d;
    border: 2px solid #dfdfdf;
    box-shadow: 1px 2px 15px #dfdfdf;
    padding: 1em;
}

.customer{
    font-size: 18px;
    text-align: center;
}

.customer h1{
    padding-bottom: 0;
}

.customer p{
    width: 75%;
    margin: 5% auto;
}

.order h2{
    text-align: center;
}

.order h3{
    text-align: center;
}

.Item{
    border-top: 1px solid #ededed;
    padding-bottom: 1em;
}

.ingredients{
    text-align: center;
    width: 50%;
    display: inline-block;
    height: 75%;
}

.options{
    text-align: center;
    width: 50%;
    display: inline-block;
    height: 75%;
}


/* Media Query */

@media screen and (min-width: 1485px){
    .OrderContainer:first-child{
        margin-left: 12%;
    }

    .OrderCard{
        width: 25%;
        display: inline-block;
    }
}

@media screen and (min-width: 1335px) and (max-width: 1484px){
    .OrderContainer:first-child{
        margin-left: 5%;
    }

    .OrderCard{
        width: 29%;
        display: inline-block;
    }
}

@media screen and (min-width: 925px) and (max-width: 1334px){
    .OrderContainer:first-child{
        margin-left: 9%;
    }

    .OrderCard{
        width: 40%;
        display: inline-block;
    }
}

@media screen and (max-width: 924px){
    .OrderCard{
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}
